---
import Concept from '../components/Concept.astro';
import Download from '../components/Download.astro';
import Hero from '../components/Hero.astro';
import HowToPlay from '../components/HowToPlay.astro';
import PlayableDemo from '../components/PlayableDemo.astro';
import SiteFooter from '../components/SiteFooter.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="mx-auto max-w-5xl px-6">
    <Hero />
    <Concept />
    <HowToPlay />
    <PlayableDemo />
    <Download />
    <SiteFooter />
  </main>
</Layout>
